<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node js</title>
    <style>
        body{
            color:aliceblue;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis, at est magnam reprehenderit incidunt distinctio natus tempora placeat voluptas molestiae. Totam deserunt veritatis inventore beatae recusandae delectus, modi aut.</p>
</body>
</html>